<div>
  <h2 id="page-heading" data-cy="ApiBannetteHeading">
    <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.home.title">Api Bannettes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-api-bannette"
        [routerLink]="['/api-bannette/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.home.createLabel"> Create a new Api Bannette </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="apiBannettes?.length === 0">
    <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.home.notFound">No Api Bannettes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="apiBannettes && apiBannettes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apiInitialLoad">
            <div class="d-flex">
              <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.apiInitialLoad">Api Initial Load</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="apiSearch">
            <div class="d-flex">
              <span jhiTranslate="dashBoardDynamiqueApp.apiBannette.apiSearch">Api Search</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apiBannette of apiBannettes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/api-bannette', apiBannette.id, 'view']">{{ apiBannette.id }}</a>
          </td>
          <td>{{ apiBannette.apiInitialLoad }}</td>
          <td>{{ apiBannette.apiSearch }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/api-bannette', apiBannette.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/api-bannette', apiBannette.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(apiBannette)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
