<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="apiBannette">
      <h2 data-cy="apiBannetteDetailsHeading"><span jhiTranslate="dashBoardDynamiqueApp.apiBannette.detail.title">Api Bannette</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ apiBannette.id }}</span>
        </dd>
        <dt><span jhiTranslate="dashBoardDynamiqueApp.apiBannette.apiInitialLoad">Api Initial Load</span></dt>
        <dd>
          <span>{{ apiBannette.apiInitialLoad }}</span>
        </dd>
        <dt><span jhiTranslate="dashBoardDynamiqueApp.apiBannette.apiSearch">Api Search</span></dt>
        <dd>
          <span>{{ apiBannette.apiSearch }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/api-bannette', apiBannette.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
