<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-dashboard-item-heading"
        data-cy="DashboardItemCreateUpdateHeading"
        jhiTranslate="dashBoardDynamiqueApp.dashboardItem.home.createOrEditLabel"
      >
        Create or edit a Dashboard Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.x" for="field_x">X</label>
          <input type="number" class="form-control" name="x" id="field_x" data-cy="x" formControlName="x" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.y" for="field_y">Y</label>
          <input type="number" class="form-control" name="y" id="field_y" data-cy="y" formControlName="y" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.rows" for="field_rows">Rows</label>
          <input type="number" class="form-control" name="rows" id="field_rows" data-cy="rows" formControlName="rows" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.col" for="field_col">Col</label>
          <input type="number" class="form-control" name="col" id="field_col" data-cy="col" formControlName="col" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item" [compareWith]="compareWidget">
            <option [ngValue]="null"></option>
            <option [ngValue]="widgetOption" *ngFor="let widgetOption of widgetsSharedCollection">{{ widgetOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="dashBoardDynamiqueApp.dashboardItem.items" for="field_items">Items</label>
          <select
            class="form-control"
            id="field_items"
            data-cy="items"
            name="items"
            formControlName="items"
            [compareWith]="compareDashboard"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dashboardOption" *ngFor="let dashboardOption of dashboardsSharedCollection">{{ dashboardOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
